.vs/

*.user
*.suo
*.pch
*.ncb
*.aps
*.bak
*.cache
*.log
*.ilk
*.vspcc
*.sbr

[Bb]in/
[Dd]ebug/
[Rr]elease/
[Xx]64/

*.obj
*.dll
*.lib
*.exe

!/lib/[Bb]in/
!/lib/[Dd]ebug/
!/lib/[Rr]elease/
!/lib/[Xx]64/
!/lib/*.obj
!/lib/*.dll
!/lib/*.lib
!/lib/*.exe
